<div style="padding:20px;" class="container">
    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-hospital-user"></i> Pacientes</h5>
                    <p class="card-text">Cadastre um novo paciente.</p>
                    <a href="?class=ListaPacientes&method=cadastrar" class="btn btn-primary">Cadastrar paciente</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-book-medical"></i> Lista de pacientes</h5>
                    <p class="card-text">Visualize a lista de pacientes cadastrados.</p>
                    <a href="?class=ListaPacientes" class="btn btn-primary">Visualizar lista</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-plus-circle"></i> Insumos e medicamentos</h5>
                    <p class="card-text">Cadastre novos insumos e medicamentos.</p>
                    <a href="?class=ListaInsumoseMedicamentos&method=cadastrar" class="btn btn-primary">Cadastrar</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-capsules"></i> Lista de insumos/medicamentos</h5>
                    <p class="card-text">Visualize a lista de insumos e medicamentos.</p>
                    <a href="?class=ListaInsumoseMedicamentos" class="btn btn-primary">Visualizar lista</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-user-plus"></i> Cadastrar usuário</h5>
                    <p class="card-text">Cadastre um novo usuário no sistema.</p>
                    <a href="?class=ListaUsuarios&method=cadastrar" class="btn btn-primary">Cadastrar usuário</a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-users"></i> Lista de usuários</h5>
                    <p class="card-text">Visualize os usuários cadastrados.</p>
                    <a href="?class=ListaUsuarios" class="btn btn-primary">Visualizar lista</a>
                </div>
            </div>
        </div>
    </div>
</div>