<div style="padding:20px" class="container card">
    <div class="card-body">
        <h3 style="margin-bottom:30px">Lista de insumos/medicamentos</h3>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for insumos in idProduto %}
                <tr>
                    <td>{{insumos.idProduto}}</td>
                    <td>{{insumos.nomeProduto}}</td>
                    <td>{{insumos.grupo}}</td>
                    <td>{{insumos.estoque}}</td>
                    <td>

                    <a class="btn-editar btn btn-sm btn-warning" href="?class=ListaInsumoseMedicamentos&method=editar&id={{insumos.idProduto}}"
                            role="button"><i class="far fa-edit"></i> Editar</a>
                     
                        <a class="btn-editar btn btn-sm btn-danger" href="?class=ListaInsumoseMedicamentos&method=editar&id={{insumos.idProduto}}"
                            role="button"><i class="far fa-trash-alt"></i> Excluir</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>