<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="app/assets/css/bootstrap.css">
    <link rel="stylesheet" href="app/assets/css/estilo.css">
    <link href="app/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="app/assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="app/assets/fontawesome/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="app/assets/css/dataTables.bootstrap5.min.css">
    <script src="app/assets/js/jquery.min.js"></script>
    <script src="app/assets/js/menu.js"></script>
    <script src="app/assets/js/bootstrap.bundle.min.js"></script>
    <script src="app/assets/fontawesome/all.js"></script>
    <script src="app/assets/js/modal-with-custom-action.js"></script>
    <script src="app/assets/js/jquery.dataTables.min.js"></script>
    <script src="app/assets/js/dataTables.bootstrap5.min.js"></script>
    <link rel="shortcut icon" href="app/assets/img/ico.png" type="image/x-icon">
    <title>SGH/CAPS</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="?class=Home">SGH/CAPS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="?class=Home">Home</a>
                </li>
                <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pacientes
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a id="cadastrar-paciente" class="dropdown-item" href="?class=ListaPacientes&method=cadastrar">Cadastrar</a></li>
                <li><a class="dropdown-item" href="?class=ListaPacientes">Listar</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Insumos e Medicamentos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a id="cadastrar-insmed" class="dropdown-item" href="?class=ListaInsumoseMedicamentos&method=cadastrar">Cadastrar</a></li>
                <li><a class="dropdown-item" href="?class=ListaInsumoseMedicamentos">Listar</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Movimentações
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a id="cadastrar-insmed" class="dropdown-item" href="#" disabled>Entrada de produtos</a></li>
                <li><a class="dropdown-item" href="#" disabled>Saída de produtos</a></li>
                <li><a class="dropdown-item" href="#" disabled>Dispensação de medicamentos</a></li>
              </ul>
            </li>
                <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuários
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a id="cadastrar-usu" class="dropdown-item" href="?class=ListaUsuarios&method=cadastrar">Cadastrar</a></li>
                <li><a id="listar-usu" class="dropdown-item" href="?class=ListaUsuarios">Listar</a></li>
              </ul>
            </li> -->
              </ul>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user" style="margin-right:4px;"></i> {{nome}}
                  </a>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item disabled" href="#">Meus dados</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><h6 class="dropdown-header">Grupos</h6></li>
                    <li><a class="dropdown-item disabled" href="#">Criar grupo</a></li>
                    <li><a class="dropdown-item disabled" href="#">Listar grupos</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><h6 class="dropdown-header">Usuários</h6></li>
                    <li><a class="dropdown-item" href="?class=ListaUsuarios&method=cadastrar">Cadastrar usuário</a></li>
                    <li><a class="dropdown-item" href="?class=ListaUsuarios">Listar usuários</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a id="sair" class="dropdown-item" href="?class=Logout">Sair</a></li>
                  </ul>
                </li>
              </ul>
              <!-- <span class="navbar-text">Olá, {{nome}}</span> -->
            </div>
          </div>
    </nav>
        {{conteudo}}
</body>
</html>